body{
    margin: 0;
    background-color: rgb(68, 65, 65);

    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    display: flex;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 0 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img
{
    margin-left: 40%;
    margin-bottom: 15px;
}



.btn
{
    border-radius: 10px;
    /* margin-top: 20px; */
    padding: 10px 20px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    
}

.input
{
    padding: 9px 10px;
    border-radius: 10px;
    width: 450px;
    
}

.grid3
{
    display: grid;
    grid-template-columns: repeat(3,100px);
}

.smallheader
{
    margin-top: -25px;
    margin-bottom: 0;
    color: rgb(64, 68, 72);
}

.includes1
{
    color: gray;
    margin-bottom: -30px;
    font-size: smaller;
}

.includes2
{
    margin-left: 100px;
    color: gray;
    margin-bottom: -30px;
    font-size: smaller;
}

.includes3
{
    margin-left: 200px;
    color: gray;
    margin-bottom: -30px;
    font-size: smaller;
}

.result
{
    color: white;
    border-radius: 10px;
    padding: 5px 17px;
    font-weight: bolder;
    font-size:medium;
    background-color: rgb(22, 22, 22);
}

.btn:hover
{
    background-color: gray;
    color: white;
}